nav{
  background-color: black;
  width: 100vw;
}

ul{
  width: 80vw;
  margin: auto;
  list-style: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navItem{
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}

.navItem:hover{
  color: rgba(255,255,255);
}

.menu{
  display: none;
}

@media (max-width: 730px){
  ul{
    padding: 12px;
    width: 100vw;
    justify-content: left;
  }

  .navItem{
    display: none;
  }

  .menu{
    display: block;
    margin-left: 0px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
  }

  .dropdown{
  display: grid;
  grid-template-rows: 60px 30px 350px 1fr;
  height: 100vh;
  opacity: 0;
  animation: drop 0.2s linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  }

  .searchCenter{
    width: inherit;
    display: flex;
    align-items: center;
  }

  .searchBar{
    width: 400px;
    padding: 6px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: rgba(255,255,255,0.5);
    color: white;
    outline: none;
  }

  .dropList{
    display: flex;
    flex-direction: column;
  }

  .navList{
    width: inherit;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 17px;
    border-top: 1px solid rgba(255,255,255,0.3);
  }

  .navList a{
    text-decoration: none;
    color: white;
  }

  @keyframes drop{
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0.25;
    }
    50%{
      opacity: 0.50;
    }
    75%{
      opacity: 0.75;
    }
    100%{
      opacity: 1;
    }
  }
}